/* Must precede pointing.h: SCRL_UP/SCRL_DOWN bake this value in at include time. */
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80
#include <dt-bindings/zmk/pointing.h>

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define FN   1

/ {
    behaviors {
        lm: layer_middle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&mo>, <&mkp>;
        };

        wheel_rotate: sensor_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <25>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
        &kp LSHFT    &kp LCTRL    &kp F5    &lm FN MCLK
            >;
            sensor-bindings = <&wheel_rotate SCRL_UP SCRL_DOWN>;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
        &trans    &trans    &trans    &to BASE
            >;
        };
    };
};